<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <input type="text" v-model="searchName" placeholder="请输入姓名">

        <ul>
           <li v-for="(item,index) in filterPerson" :key="item.id">
            索引:{{index}},数据id:{{item.id}},名字:{{item.name}}，年龄:{{item.age}}
           </li>
        </ul>

    </div>
    <script src="vue.js"></script>
    <script>
      
        var vm =new Vue({
            el:'#app',
            data:{
                persons:[
                    {"id":1,"name":"张三李","age":18},
                    {"id":2,"name":"李王四","age":20},
                    {"id":3,"name":"王五三","age":22}
                ],
                searchName:'',
            },
            computed:{
                filterPerson(){
                    return this.persons.filter((item)=>{
                            return item.name.indexOf(this.searchName)!==-1
                     })
                }
            }
            // ,watch:{
            //     searchName:{
            //         immediate:true,
            //         handler(val){
            //             this.filterPerson = this.persons.filter((item)=>{
            //                 return item.name.indexOf(val)!==-1
            //             })
            //         }
            //     }
            // }
        })
    </script>

    </script>
</body>
</html>
