<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <input type="text" v-model="searchName" placeholder="请输入姓名">
        <button @click="order =1">升年龄升序</button>
        <button @click="order =2">年龄降序</button>


        <ul>
           <li v-for="(item,index) in filterPerson" :key="item.id">
            索引:{{index}},数据id:{{item.id}},名字:{{item.name}}，年龄:{{item.age}}
           </li>
        </ul>

    </div>
    <script src="vue.js"></script>
    <script>
      
        var vm =new Vue({
            el:'#app',
            data:{
                searchName:'',
                order:0,//默认不排序 1升序 2降序
                persons:[
                    {"id":1,"name":"张三李","age":18},
                    {"id":2,"name":"李王四","age":20},
                    {"id":3,"name":"王五三","age":22}
                ]
            },
            computed:{
                filterPerson(){
                    var arr =   this.persons.filter((item)=>{
                        return item.name.indexOf(this.searchName)!==-1
                    })
                    if(this.order == 1){
                        arr.sort((a,b)=>{
                            return a.age - b.age
                        })
                    }else if(this.order == 2){
                        arr.sort((a,b)=>{
                            return b.age - a.age
                        })
                    }
                    return arr
                }
            }
            // ,watch:{
            //     searchName:{
            //         immediate:true,
            //         handler(val){
            //             this.filterPerson = this.persons.filter((item)=>{
            //                 return item.name.indexOf(val)!==-1
            //             })
            //         }
            //     }
            // }
        })
    </script>

    </script>
</body>
</html>
